html, body {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background: #eeeeee;
  font-family: "Helvetica";
}

/* Start page */
.wrapper_welcome {
  height: 40%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  vertical-align: center;
}

/*
div.js_image::before {
  content:url(https://emoji.slack-edge.com/T27SFGS2W/jumpstart/21f5febab6a90b0f.png);
}
*/

.js_image {
  font-size: 3em;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.js_text {
  font-size: 4em;
  font-weight: bold;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.js_intro {
  font-size: 2em;
  display: flex;
  justify-content: center;
  justify-content: center;
}

.wrapper {
  height: 40%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-gap: 12px;
  vertical-align: middle;
}

.box_text {
  background-color: #f5f5f5;
  text-align: center;
  /* text-decoration: none; */
  /* display: inline-block; */
  border-radius: 10px;
  transition-duration: 0.75s;

  padding: 0.75em;

  font-size: 4em;

  /* Min size to not look too empty on start page */
  min-width: 1em;
  min-height: 1em;
}


.box_superlative {
  grid-column: span 1;
  border: none;
  display: flex;
  justify-content: right; /* align horizontal */
  align-items: center; /* align vertical */
}

.box_term {
  grid-column: span 1;
  border: none;
  display: flex;
  justify-content: left; /* align horizontal */
  align-items: center; /* align vertical */
}

/* Contains button on bottom */
.bottom {
  grid-column: span 2;
  row-column: span 1;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  border: none ;
}


.button {
  background: #dddddd;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3em;
  border-radius: 10px;
  transition-duration: 0.4s;
  cursor: pointer;

  padding: 0.5em;
  min-width: 2.5em;
  min-height: 2.5em;
}

.button:hover {
  background-color: #d0d0d0;
}
