html, body {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;

  background: linear-gradient(130deg, #d5f8fd, #93eef8, #4bc7ec);
  background-size: 200% 200%;

  -webkit-animation: Animation 30s ease infinite;
  -moz-animation: Animation 30s ease infinite;
  animation: Animation 30s ease infinite;

}


@-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}


.wrapper_welcome {
  height: 25%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 12px;
  vertical-align: left;
  font-size:20px;
}

/*
div.js_image::before {
  content:url(https://emoji.slack-edge.com/T27SFGS2W/jumpstart/21f5febab6a90b0f.png);
}
*/
.js_image {
  font-size: 3em;
  display: flex; 
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.js_text {
  font-size: 3em;
  display: flex;
  justify-content: left; /* align horizontal */
  align-items: center; /* align vertical */
}



.wrapper {
  height: 20%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  vertical-align: middle;
}

.box_text {
  background: linear-gradient(130deg, #f5fcfd, #e9e9e9);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 24px;
  transition-duration: 1s;

  padding: 10px;

}


.box_superlative {
  grid-column: span 1;
  border: none;
  display: flex;
  justify-content: right; /* align horizontal */
  align-items: center; /* align vertical */

  font-size: 5em;

}



.box_term {
  grid-column: span 1;

  display: flex;
  justify-content: left; /* align horizontal */
  align-items: center; /* align vertical */

  font-size: 5em;

  border: none;
}


.bottom {
  grid-column: span 2;

  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  /* text-align: center; */
  /* vertical-align: center; */
  border: none ;
}


.button {
  background: linear-gradient(130deg, #f5fcfd, #e9e9e9);
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  border-radius: 24px;
  transition-duration: 0.4s;
  cursor: pointer;

  padding: 10px;
}

.button:hover {
  background-color: #e7e7e7;
}
